@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
}

.btn {
  background-color: theme('colors.neutral.50');
  border: 1px solid transparent;
  border-radius: .4rem;
  color: theme('colors.black');
  font-size: theme('fontSize.sm');
  font-weight: theme('fontWeight.semibold');
  letter-spacing: .02em;
  padding: 8px 12px;
}

.btn-primary {
  background-color: theme('colors.red.500');
  border-color: theme('colors.red.500');
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0);
  color: theme('colors.white');
  transition: background-color .25s ease-in-out, box-shadow .25s ease-in-out;

  &:hover {
    background-color: theme('colors.red.400');
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .35);
  }

  &.disabled {
    background-color: theme('colors.red.100');
    border-color: theme('colors.red.100');
  }
}

.btn-secondary {
  background-color: theme('colors.white');
  border-color: theme('colors.neutral.200');
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0);
  color: theme('colors.red.500');
  transition: box-shadow .25s ease-in-out, border-color .25s ease-in-out;

  &:hover {
    border-color: theme('colors.neutral.300');
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .1);
  }
}

.btn-sm {
  font-size: theme('fontSize.xs');
  padding: 4px 12px;
}

.action-link {
  color: theme('colors.black');
  font-size: theme('fontSize.sm');
  letter-spacing: .02em;
}
